.objects-container {
    background-color: violet;
    height: 85vh;
    width: 90vw;
    display: flexbox;
}

.img-container {
    background-color: violet;
    height: 60vh;
    width: 60vw;
    justify-content: flex-start;
}